body {
    background-color: #000435;
    color: black;
}

#main {
    background-color: azure;
    margin: 25px;
    padding: 10px;
}

h1 {
    text-align: center;
}

img {
    max-width: 100%;
    display: block;
    height: auto;
    margin: auto;
}

#img-div {
    width: 100%;
}

ul {
    padding: 10px;
    list-style-type: none;
}

li {
    padding: 8px;
}